#optionsframework .section-text .controls,
#optionsframework .section-color .controls {
	min-width: 90px !important;
	width: auto !important;
	}
#optionsframework .section-text .explain,
#optionsframework .section-color .explain {
	max-width: 78% !important;
	line-height: 24px !important;
	}